embedding_size: 64
learning_rate: 0.001
learning_rate_scheduler:
- 0.96
- 20
n_ui_layers: 3
knn_k: 10
bm_loss: 0.01
reg_weight_1: 1e-05
reg_weight_2: 0.1
use_rf: true
rf_hidden_dim: 128
rf_n_layers: 2
rf_dropout: 0.1
rf_learning_rate: 0.0001
rf_sampling_steps: 5
rf_warmup_epochs: 5
rf_mix_ratio: 0.1
rf_inference_mix_ratio: 0.2
epochs: 1000
train_batch_size: 2048
eval_batch_size: 4096
stopping_step: 10
n_layers: 1
bm_temp: 0.2
um_loss: 0.1
um_temp: 0.2
vt_loss: 0.001
temporal_ratio: 0.8
rf_reflow_mode: 1-step
rf_reflow_epoch: 50
rf_loss_weight: 0.1
rf_contrast_temp: 0.2
